<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Keittokirja</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  
  <body>

    <div class="w-80 p-4 ml-4 mr-4">
      <div class="jumbotron text-center">
        <h1>Keittokirja</h1>
        <h4>- omat reseptini -</h2>
    </div>


    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

    {% if current_user.is_authenticated %}

      <a class="nav-item nav-link" href="{{ url_for('recipes_index', user_id=current_user.id) }}">Reseptisivulle</a>

      <a class="nav-item nav-link" href="{{ url_for('recipes_create') }}">Lisää resepti</a>
      <a class="nav-item nav-link" href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>

    </nav>

    <br>
    <p>
      Olet Kirjautunut nimellä {{ current_user.name }}.
    </p>
    <p>
      Tervetuloa Keittokirjasovellukseen. 
      Tänne voit helposti tallentaa kaikki parhaat reseptisi 
      ja tarkastella niitä koska vain haluat.
    </p>

    {% else %}

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

      <a class="nav-item nav-link" href="{{ url_for('auth_login') }}">Kirjaudu</a>
      <a class="nav-item nav-link" href="{{ url_for('auth_register') }}">Rekisteröidy</a>

    </nav>

    {% endif %}

  </div>

  <div class="w-80 p-4 ml-4 mr-4">
    
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}

  </div>

  </body>
</html>