{% extends "layout.html" %}

{% block body %}

<h3 align="center">Tilastoja</h3>

{% if recipesPerUser is defined %}
  <h4>
    Reseptejä per käyttäjä:
  </h4>

  <table class="table">
    <tr>
      <th>Nimi</th>
      <th>Reseptejä</th>
    </tr>
    
    {% for user in recipesPerUser %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.count }}</td>
    </tr>
    {% endfor %}
  </table>

{% endif %}

<br>
<br>

{% if ingredientsPerRecipe is defined %}
  <h4>
    Ainesosien esiintyvyys resepteissä:
  </h4>

  <table class="table">
    <tr>
      <th>Ainesosa</th>
      <th>Monessako reseptissä</th>
    </tr>
    
    {% for ingredient in ingredientsPerRecipe %}
    <tr>
      <td>{{ ingredient.name }}</td>
      <td>{{ ingredient.incidence }}</td>
    </tr>
    {% endfor %}
  </table>

{% endif %}


{% endblock %}