{% extends "layout.html" %}

{% block body %}

<h3 align="center">Muokkaa reseptiä</h3>

<div class="p-4">
    <div class="alert alert-danger" role="alert">
        Jos haluat poistaa reseptin, selaa sivun alalaitaan ja paina nappia "Poista resepti".
      </div>
    </div>

<form method="POST" action="{{ url_for('recipes_edit', recipe_id=recipe.id) }}", role=form>
    <div class="w-100 p-4">
        <label for="header">{{ form.header.label }}</label><br>
        {{ form.header (class="form-control", rows="1")}}
        <ul>
            {% for error in form.header.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div><br>

    <div class="w-100 p-4">
        <label for="category">{{ form.category.label }}</label><br>
        {{ form.category (class="form-control", rows="1")}}
        <ul>
            {% for error in form.category.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div><br>

    <div class="w-100 p-4">
        <label for="description">{{ form.description.label }}</label><br>
        {{ form.description (class="form-control", rows="10")}}
        <ul>
            {% for error in form.description.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div><br>

    <div class="p-4">
        <p>Muokkaa ainesosia, niiden määrää ja määrän yksikköä</p>
    </div>

    {% for ingredient in form.ingredients %}
        <div class="w-100 p-4">

            <label for="ingredient name">{{ ingredient.ingredientName.label }}</label><br>
            {{ ingredient.ingredientName (class="form-control", rows="1")}}
            <ul>
                {% for error in ingredient.ingredientName.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>

            <label for="ingredient amount">{{ ingredient.ingredientAmount.label }}</label><br>
            {{ ingredient.ingredientAmount (class="form-control", rows="1")}}
            <ul>
                {% for error in ingredient.ingredientAmount.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>

            <label for="ingredient unit">{{ ingredient.ingredientUnit.label }}</label><br>
            {{ ingredient.ingredientUnit (class="form-control", rows="1")}}
            <ul>
                {% for error in ingredient.ingredientUnit.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>

        </div><br>
    {% endfor %}

    <div class="w-100 p-4">
        <label for="directions">{{ form.directions.label }}</label><br>
        {{ form.directions (class="form-control", rows="20")}}
        <ul>
            {% for error in form.directions.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div><br>

    <div class="w-100 p-4">
        <button input type="submit" class="btn btn-success">Tallenna muutokset</button>
    </div><br>
</form>

<form method="POST" action="{{ url_for('recipes_remove', recipe_id=recipe.id) }}">
    <button input type="submit" class="btn btn-danger">Poista resepti</button>
</form><br>

{% endblock %}