{% extends "layout.html" %}

{% block body %}

<h3 align="center">Muokkaa reseptiä</h3>

<form method="POST" action="{{ url_for('recipes_edit', recipe_id=recipe.id) }}", role=form>
    <div class="w-100 p-4">
        <label for="header">{{ form.header.label }}</label><br>
        {{ form.header (class="form-control", rows="1")}}
    </div><br>

    <div class="w-100 p-4">
        <label for="category">{{ form.category.label }}</label><br>
        {{ form.category (class="form-control", rows="1")}}
    </div><br>

    <div class="w-100 p-4">
        <label for="description">{{ form.description.label }}</label><br>
        {{ form.description (class="form-control", rows="10")}}
    </div><br>

    {% for ingredient in form.ingredients %}
        <div class="w-100 p-4">

            <label for="ingredient name">{{ ingredient.ingredientName.label }}</label><br>
            {{ ingredient.ingredientName (class="form-control", rows="1")}}

            <label for="ingredient amount">{{ ingredient.ingredientAmount.label }}</label><br>
            {{ ingredient.ingredientAmount (class="form-control", rows="1")}}

            <label for="ingredient unit">{{ ingredient.ingredientUnit.label }}</label><br>
            {{ ingredient.ingredientUnit (class="form-control", rows="1")}}

        </div><br>
    {% endfor %}

    <div class="w-100 p-4">
        <label for="directions">{{ form.directions.label }}</label><br>
        {{ form.directions (class="form-control", rows="20")}}
    </div><br>

    <div class="w-100 p-4">
        <button input type="submit" class="btn btn-success">Tallenna muutokset</button>
    </div><br>
</form>

<form method="POST" action="{{ url_for('recipes_remove', recipe_id=recipe.id) }}">
    <button input type="submit" class="btn btn-danger">Poista resepti</button>
</form><br>

{% endblock %}