{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('recipes_edit', recipe_id=recipe.id) }}">
    <div class="w-100 p-4">
        <label>{{ form.header.label }}</label><br>
        {{ form.header (class="form-control", rows="1")}}
    </div><br>

    <div class="w-100 p-4">
        <label>{{ form.category.label }}</label><br>
        {{ form.category (class="form-control", rows="1")}}
    </div><br>

    <div class="w-100 p-4">
        <label>{{ form.description.label }}</label><br>
        {{ form.description (class="form-control", rows="10")}}
    </div><br>

    <div class="w-100 p-4">
        <label>{{ form.ingredients.label }}</label><br>
        {{ form.ingredients (class="form-control", rows="40")}}
    </div><br>

    <div class="w-100 p-4">
        <label>{{ form.directions.label }}</label><br>
        {{ form.directions (class="form-control", rows="40")}}
    </div><br>

    <div class="w-100 p-4">
        <button input type="submit" class="btn btn-success">Tallenna muutokset</button>
    </div><br>
</form>

<form method="POST" action="{{ url_for('recipes_remove', recipe_id=recipe.id) }}">
    <button input type="submit" class="btn btn-danger">Poista resepti</button>
</form><br>

{% endblock %}