{% extends "layout.html" %}

{% block body %}

<h3 align="center">Omat reseptini</h3>

{% for recipe in recipes %}

<br>

    <article>

      <h4>{{ recipe.header }}</h4><br>

      <p><b>Kategoria: {{ recipe.category }}</b></p><br>

      <p><b>Kuvaus</b></p>
      <p>{{ recipe.description }}</p><br>

        <table class="table">
          <tr>
            <th>Ainesosa</th>
            <th>Määrä</th>
            <th>Yksikkö</th>
          </tr>

          {% for ingredient in recipe.ingredients %}
          
          <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.unit }}</td>
          </tr>

          {% endfor %}

        </table>


      <p><b>Työvaiheet</b></p>
      <p>{{ recipe.directions }}</p><br>

      <form method="GET" action="{{ url_for('recipes_edit', recipe_id=recipe.id) }}">
          <button input type="submit" class="btn btn-primary">Muokkaa reseptiä</button>
      </form><br>

    </article>

    {% endfor %}

{% endblock %}