{% extends "layout.html" %}

{% block body %}

{% for recipe in recipes %}

    <article>

      <h3>{{ recipe.header }}</h3><br>

      <h5>Kategoria: {{ recipe.category }}</h5><br>

      <h6>Kuvaus</h6>
      <p>{{ recipe.description }}</p><br>

      <h6>Ainekset</h6>
      <p>{{ recipe.ingredients }}</p><br>

      <h6>Työvaiheet</h6>
      <p>{{ recipe.directions }}</p><br>

      <form method="GET" action="{{ url_for('recipes_edit', recipe_id=recipe.id) }}">
          <button input type="submit" class="btn btn-primary">Muokkaa reseptiä</button>
      </form><br>

    </article>

    {% endfor %}

{% endblock %}