{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('recipes_create') }}">

  <div class="w-100 p-4">
    <label>Otsikoi resepti</label>
    <textarea class="form-control" name="header" rows="1"></textarea>
  </div>

  <div class="w-100 p-4">
    <label>Lisää kategoria</label>
    <textarea class="form-control" name="category" rows="1"></textarea>
  </div>

  <div class="w-100 p-4">
    <label>Kirjoita kuvaus</label>
    <textarea class="form-control" name="description" rows="10"></textarea>
  </div>

  <div class="w-100 p-4">
    <label>Listaa ainekset</label>
    <textarea class="form-control" name="ingredients" rows="40"></textarea>
  </div>

  <div class="w-100 p-4">
    <label>Listaa työvaiheet</label>
    <textarea class="form-control" name="directions" rows="40"></textarea>
  </div>

  <div class="w-100 p-4">
    <button input type="submit" class="btn btn-success">Lisää resepti</button>
  </div>

</form>

{% endblock %}